@import "tailwindcss";

@theme {
  --color-pearl: #F8F9FB;
  --color-lavender: #A3B1FF;
  --color-lavender-dark: #8B9AFF;
  --color-mint: #B5EAD7;
  --color-mint-dark: #9DE0C8;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F8F9FB;
  font-family: 'Inter', sans-serif;
}